[settings]
skip = venv

# Configure isort to work without access to site-packages
known_first_party = loggo
default_section = THIRDPARTY

# Settings for Black compatibility
multi_line_output = 3
include_trailing_comma = True
force_grid_wrap = 0
use_parentheses = True
line_length = 110
